/* Global */
:root {
    /* App Colors */
    --color-frame: #000000;
    --color-text: #000000;
    --color-line: #00d5ff;

    --color-name: #ff8800;
    --color-job: #000000;
    --color-number: #000000;
    --color-email: #000000;
    --color-site: #000000;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: block;
}

.main {
    width: 90%;
    max-width: 45rem;
    aspect-ratio: 2 / 1;
    display: flex;
    align-items: center;
    border: solid var(--color-frame) 3px;
}

.main__line {
    height: 77%;
    width: 0.3vw;
    background-color: var(--color-line);
    border-radius: 50%;
}

.main__img {
    width: 30%;
    margin: 6vw;
}

.main__textcontainer {
    width: 30%;
    margin: 4vw;
    display: flex;
    flex-direction: column;
}

/*  MY */
.my {
    margin-left: 0.5vw;
    margin-bottom: 1vw;
}

.name {
    font-size: 5vw;
    color: var(--color-name);
}

.job {
    font-size: 2.7vw;
}

/* info */
.number,
.email,
.site {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.number__img,
.email__img,
.site__img {
    width: 3vw;
    height: 3vw;
}

.number__a,
.email__a,
.site__a {
    font-size: 3vw;
}

.link {
    margin-top: 0.5rem;
    display: flex;
    gap: 4%;
}

.facebook,
.instargram,
.x {
    width: 3vw;
}


@media screen and (min-width: 768px) {
    .main__line {
        width: 0.15rem;
    }

    .main__img {
        margin: 3rem;
    }

    .main__textcontainer {
        margin: 2rem;
    }

    .name {
        font-size: 2.4rem;
    }

    .job {
        font-size: 1.3rem;
    }

    .number__img,
    .email__img,
    .site__img {
        width: 1.4rem;
        height: 1.4rem;
    }

    .number__a,
    .email__a,
    .site__a {
        font-size: 1.5rem;
    }
}