/* Global */
:root {
    /* App Colors */
    --color-frame: #000000;
    --color-text: #000000;
    --color-line: #00d5ff;

    --color-name: #ff8800;
    --color-job: #000000;
    --color-number: #000000;
    --color-email: #000000;
    --color-site: #000000;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: block;
}

.card {
    width: 45rem;
    height: 25rem;
    border: solid var(--color-frame) 2px;
}


.main {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    /*clean*/
    border: solid var(--color-frame) 2px;
}

.main__line {
    height: 70%;
    width: 3px;
    background-color: var(--color-line);
    border-radius: 50%;
}

.main__img {
    margin: 3rem;
}

.main__textcontainer {
    display: flex;
    margin: 2rem;
    flex-direction: column;
}

/*  MY */
.my {
    margin-left: 3px;
    margin-bottom: 1rem;
}

.name {
    font-size: 2.2rem;
    color: var(--color-name);
}

.job {
    font-size: 1.2rem;
}

/* info */
.number,
.email,
.site {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.number__img,
.email__img,
.site__img {
    width: 1.4rem;
    height: 1.4rem;
}

.number__a {
    font-size: 1.3rem;
}

.email__a {
    font-size: 1.3rem;
}

.site__a {
    font-size: 1.3rem;
}