/* Global */
:root {
    /* App Colors */
    --color-background: #e3e3e3;
    --color-text: #000000;
    --color-line: var(--color-black);

    --color-fullName: var(--color-black);
    --color-position: var(--color-black);
    --color-job: var(--color-black);
    --color-info: var(--color-black);

    --color-black: #000000;
}


* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    font-family: "Orbit", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}

span {
    display: block;
}

.businessCard {
    width: 80%;
    min-width: 19rem;
    max-width: 45rem;
    aspect-ratio: 2 / 1.2;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1000ms;
}

.businessCard.flipped {
    transform: rotateY(180deg);
}

.businessCard-back {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.mainContent {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.separatorLine {
    width: 0.1%;
    height: 60%;
    margin: 0 clamp(1.21rem, 5vw, 2.8rem);
    background-color: var(--color-line);
}

.profileImage {
    width: 27%;

}

/* TEXT */
.textContainer {
    margin-top: clamp(0.35rem, 1vw, 9px);
    display: flex;
    flex-direction: column;
}

/*  personalInfo */
.personalInfo {
    margin-bottom: clamp(0.2rem, 2vw, 1.2rem);
}

.namePosition {
    display: flex;
    align-items: center;
}

.fullName {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: clamp(1rem, 4.2vw, 2.36rem);
    color: var(--color-fullName);
    letter-spacing: 0.25em;
}

.position {
    font-size: clamp(0.5rem, 2.1vw, 1.18rem);
    margin-left: clamp(1px, 1vw, 8px);
    color: var(--color-position);
}

.jobTitle {
    font-size: clamp(0.5rem, 2.07vw, 1.17rem);
    margin-left: clamp(0.1rem, 0.25vw, 0.17rem);
    color: var(--color-job);
}

.fullName,
.position,
.jobTitle,
.email-link,
.website-link {
    opacity: 0;
}

/* contactInfo */
.phoneNumber,
.email,
.site {
    display: flex;
    align-items: center;
    gap: clamp(0.4rem, 1.8vw, 1rem)
}

.phone-icon,
.email-icon,
.website-icon {
    width: 2.5vw;
    min-width: 0.6rem;
    max-width: 1.4rem;
    height: 2.5vw;
    min-height: 0.6rem;
    max-height: 1.4rem;
}

.phone-link {
    font-size: clamp(0.52rem, 2.2vw, 1.25rem);
}

.email-link,
.website-link {
    font-size: clamp(0.55rem, 2.4vw, 1.35rem);
}

.phone-link,
.email-link,
.website-link {
    color: var(--color-info);
}

/* socialLinks */
.socialLinks {
    display: flex;
    margin-top: clamp(0.1rem, 1.5vw, 0.6rem);
    margin-left: clamp(0.9rem, 4vw, 2.3rem);
    gap: clamp(0.2rem, 1.5vw, 0.8rem);
}

.facebook-link,
.instagram-link,
.x-link {
    line-height: 0;
}

.facebook-icon,
.instargram-icon,
.x-icon {
    width: 2.5vw;
    min-width: 0.6rem;
    max-width: 1.4rem;
    transition: transform 200ms ease-in-out;
}

.facebook-icon:hover,
.instargram-icon:hover,
.x-icon:hover {
    transform: scale(1.2);
}

.arrow {
    position: absolute;
    bottom: 5.5%;
    right: 4%;
    width: 4.5%;
    transform: rotate(-15deg);
    opacity: 0;
    animation: fadeIn 800ms ease-in-out forwards;
    animation-delay: 3700ms;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.back-main {
    font-family: "Source Code Pro", monospace;
    font-size: clamp(1.6rem, 6.5vw, 3.55rem);
    margin-top: clamp(-0.5rem, -1vw, -1.5rem);
}

.back-jobTitle {
    font-family: "Exo 2", sans-serif;
    font-size: clamp(0.5rem, 2vw, 1.1rem);
    margin-top: clamp(-18px, -1.5vw, -5.5px);
    transform: scaleX(1.2);
    margin-right: 1.3%;
}